#colours_red {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 15px;
    
   
}
#colours_yellow{
   width: 100px;
   height: 100px;
    background-color:rgb(255, 255, 0);
    margin: 15px;
}
#colours_green{
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 15px;
}
#The_head{
    display: flex;
}

#clear{
    width: 100px;
    height: 26px;
   border: 2px solid black;
   background-color: aqua;
   margin-left: 15px;
   font-size: 20px;
   color: rgb(255, 0, 0);
   border-radius: 5px;
   
}